.hidden
    .b-modal-form#modal_form
        .b-modal-form__header
            p.b-modal-form__title Оставьте заявку
            p.b-modal-form__description Оставьте заявку на получение планировки и сметы

        form
            .b-modal-form__form
                div.form-group
                    label Ваше имя*
                    input.form-control
                div.form-group
                    label Ваш номер телефона*
                    input.form-control
                p.b-modal-form__hint * - Обязательные поля

            .text-center
                button.btn.btn-success.btn-lg.b-modal-form__button(type="submit") Оставить заявку

.b-footer
